/backend/node_modules/
/client/node_modules/


/backend/.env
/backend/.env.*
/client/.env
/client/.env.*


/backend/dist/
/client/dist/


.log
npm-debug.log
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db


.vscode/
.idea/

*.tsbuildinfo

tmp/
temp/


coverage/

/client/.vite/